arithmetic/arithmetic.opensdf
arithmetic/arithmetic.sdf
arithmetic/Debug/divition.ilk
arithmetic/Debug/divition.pdb
arithmetic/project_addition/addition/ReadMe.txt
*.log
*.tlog
*.pdb
*.obj
*.idb
arithmetic/ipch/unittest1-396bf996/unittest1-484f65fd.ipch
