arithmetic/arithmetic.opensdf
arithmetic/arithmetic.sdf
arithmetic/addition/ReadMe.txt
*.tlog
arithmetic/project_addition/addition/Debug/add.obj
arithmetic/project_addition/addition/Debug/addition.log
arithmetic/project_addition/addition/Debug/vc120.idb
arithmetic/project_addition/addition/Debug/vc120.pdb
arithmetic/project_addition/addition/ReadMe.txt
arithmetic/Debug/addition.lib
arithmetic/project_addition/addition/Debug/addition.Build.CppClean.log
arithmetic/project_subtraction/Debug/subtraction.ilk
arithmetic/project_subtraction/Debug/subtraction.pdb
arithmetic/project_subtraction/subtraction/Debug/sub.obj
arithmetic/project_subtraction/subtraction/Debug/subtraction.Build.CppClean.log
arithmetic/project_subtraction/subtraction/Debug/subtraction.log
arithmetic/project_subtraction/subtraction/Debug/vc120.idb
arithmetic/project_subtraction/subtraction/Debug/vc120.pdb
arithmetic/project_subtraction/Debug/subtraction.exp
arithmetic/Debug/subtraction.exp
arithmetic/Debug/subtraction.ilk
arithmetic/Debug/subtraction.pdb
arithmetic/project_subtraction/Debug/subtraction.dll
arithmetic/project_subtraction/Debug/subtraction.lib
